.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100vw;
    height: 20vh;
    background-color: black;
    color: white;
    padding-top: 0.5%;
}

.logo{
    flex: 1;
    width: 100%;
}

.links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex: 4;
}
  
.bgWhite {
    background-color: aliceblue;
    padding: 2px 4px;
    border: 1px solid white;
    border-radius:4px;
    color: black;
}