.container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    position: fixed;
    top: 0px;
    z-index: 100;
    width: 100vw;
    height: 20vh;
    background-color: black;
    color: white;
    padding: 0.5%;
}

.logo{
    flex: 2;
    width: 100%;
}

.links{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    flex: 8;
}
  