.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    gap: 0.4em;
    width: 100vw;
    padding-bottom: 10px;
    text-transform: capitalize;
}

.controllers{
    display: flex;
    flex-direction: row;
    width: 90%;
}

.table{
    display: flex;
    flex-direction: column;
    gap: 0.09em;
}